<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">

      <h2>Step 2: about your game</h2>

      <%= simple_form_for @user, url: wizard_path do |f| %>
        <div class="form-inputs form-label">
          <%= f.input :level,
                      collection: User.levels,
                      label: "PICK YOUR LEVEL" %>
          <%= f.input :style_of_play,
                      collection: User.styles,
                      label:"WHAT IS YOUR STYLE OF PLAY?" %>
          <%= f.input :handedness,
                      collection: %w[righty lefty],
                      label: "RIGHTY OR LEFTIE?" %>
          <%= f.input :backhand_style,
                      collection: ["one handed backhand", "two handed backhand"],
                      label: "BACKHAND STYLE?" %>
          <label for="choose-a-club"> WHICH ONE IS YOUR CLUB? </label>
          <select name="user[club][]" class="select2" id="choose-a-club">
            <% Club.all.each do |club| %>
              <option value="<%= club.id %>"><%= club.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Next", class: "btn btn-primary cta-signup mb-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
