<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">

      <h2>Step 3: smile & shine!</h2>

      <%= simple_form_for @user, url: wizard_path do |f| %>
        <div class="form-inputs form-label">
          <%= f.input :picture %>
          <%= f.input :picture_cache, as: :hidden %>
          <%= f.input :bio,
                      label: "BIO",
                      placeholder: "This is where you can let other players know a bit more like when/where you like to play, how long you've been playing tennis, etc." %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Next", class: "btn btn-primary cta-signup mb-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
