<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-12 col-md-4 offset-md-4">

      <h2>Step 3: Finish your profile</h2>

      <%= simple_form_for(current_user, url:sign_up_path(current_user), method: :get) do |f| %>
        <div class="form-inputs form-label">
          <%= f.input :bio, label: "TELL US SOMETHING ABOUT YOURSELF" %>
          <%= f.input :place_of_birth, :collection => %w[Beginner Intermediate Advanced Semi-pro Pro], label:"PLACE OF BIRTH" %>
          <%= f.input :style_of_play, :collection => %w[baseliner attacker baseliner server-volleyer puncher], label:"WHAT IS YOUR STYLE OF PLAY" %>
          <%= f.input :gender, label:"PUT IN YOUR GENDER" %>
          <%= f.input :height, label:"PUT IN YOUR HEIGHT" %>
          <%= f.input :weight, label:"PUT IN YOUR WEIGHT" %>
          <%= f.input :country, label:"NATIONALITY" %>
          <%= f.input :picture, label:"PICTURE" %>
          <%= f.input :handedness, :collection => %w[righty lefty], label:"ARE YOU A RIGHTY OR LEFTY" %>
          <%= f.date :birthday, label:"PUT IN YOUR BIRTHDAY" %>
          <%= f.input :backhand_style, :collection => %w[one handed backhand two handed backhand], label:"" %>
          <%= f.input :club, label:"PUT IN YOUR CLUB" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

