<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <h2>Edit Your Profile</h2>
      <p class="help-save">Psst: if you make a change, don't forget to save below!</p>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="accordion" id="accordionEditProfile">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Contact Info & Password
              </button>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionEditProfile">
              <div class="card-body">
                <%= f.input :email,
                      required: true,
                      autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :phone_number,
                            as: :tel,
                            pattern: "\+[0-9]+" %>
                <span id="valid-msg" class="hide">✓Valid</span>
                <span id="error-msg" class="hide"></span>
                <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                About You
              </button>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionEditProfile">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <%= f.input :first_name,
                        label: "YOUR FIRST NAME" %>
                  <%= f.input :last_name,
                              label: "YOUR LAST NAME" %>
                </div>
                <%= f.input :address,
                            label: "YOUR LOCATION",
                            placeholder: "example: Plaza De Cataluña, Barcelona" %>
                <%= f.input :country,
                            collection: @continents,
                            label: "NATIONALITY" %>
                <div class="d-flex justify-content-between">
                  <%= f.input :place_of_birth,
                            label: "PLACE OF BIRTH",
                            class: "search_location",
                            placeholder: "Your Hometown" %>
                  <%= f.input :birthday,
                        input_html: {class: "datepicker-edit"},
                        as: :string,
                        label:"BIRTHDATE" %>
                </div>
                <div class="d-flex justify-content-between">
                  <%= f.input :gender,
                        collection: %w[Male Female Other],
                        label: "GENDER" %>
                  <%= f.input :height,
                        label: "HEIGHT IN cm" %>
                  <%= f.input :weight,
                        label: "WEIGHT IN kg" %>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                Your Game
              </button>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionEditProfile">
              <div class="card-body">
                <%= f.input :style_of_play,
                      collection: User.styles,
                      label: "WHAT IS YOUR STYLE OF PLAY?" %>
                <%= f.input :handedness,
                            collection: %w[righty lefty],
                            label: "ARE YOU A RIGHTY OR LEFTY?" %>
                <%= f.input :backhand_style,
                            :collection => ["one handed backhand", "two handed backhand"],
                            label:"WHAT IS YOUR BACKHAND STYLE?" %>
                <%= f.association :club,
                                  label: "WHICH ONE IS YOUR CLUB?" %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                Picture & Bio
              </button>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionEditProfile">
              <div class="card-body">
                <div class="form-inputs form-label">
                  <div class="custom-file">
                    <% if @user.picture.present? %>
                      <div class="imagePreview"  id="edit-photo-form" data-picture="<%= cl_image_path current_user.picture %>"></div>
                    <% else %>
                      <div class="imagePreview"  id="edit-photo-form"></div>
                      <img src="http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg" alt="" class="imagePreview">
                    <% end %>
                    <label class="btn btn-primary upload">Upload Picture
                      <%= f.input :picture, input_html: {class: 'custom-file-input', accept: 'image/*'}, label: false %>
                    </label>
                  </div>
                  <input type="hidden" id="user_angle" name="user[angle]" value="0">
                  <%= f.input :bio,
                              label: "BIO",
                              placeholder: "This is where you can let other players know a bit more. For example, when/where you prefer to play, how long you've been playing tennis, etc." %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="save-profile">
          <%#= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <div class="form-actions">
            <%= f.button :submit, "save", class: "btn btn-primary cta-signup mb-3" %>
          </div>
        </div>
      <% end %>
      <div class="cancel-account">
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>
  </div>
</div>
