<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs form-label">
          <%= f.input :email,
                      required: true,
                      autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :first_name,
                      label: "YOUR FIRST NAME" %>
          <%= f.input :last_name,
                      label: "YOUR LAST NAME" %>
          <%= f.input :address,
                      label: "YOUR LOCATION",
                      placeholder: "example: Plaza De Cataluña, Barcelona" %>
          <%= f.input :phone_number,
                      label: "ENTER YOUR PHONE NUMBER",
                      placeholder: "example: +34",
                      as: :tel,
                      pattern: "[0-9]+" %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div>
          <%= f.input :picture %>
          <%= f.input :picture_cache, as: :hidden %>
          <%= f.input :style_of_play,
                      collection: User.styles,
                      label: "WHAT IS YOUR STYLE OF PLAY?" %>
          <%= f.input :handedness,
                      collection: %w[righty lefty],
                      label: "ARE YOU A RIGHTY OR LEFTY?" %>
          <%= f.input :backhand_style,
                      :collection => ["one handed backhand", "two handed backhand"],
                      label:"WHAT IS YOUR BACKHAND STYLE?" %>
          <%= f.input :gender,
                      collection: %w[Male Female Other],
                      label: "GENDER" %>
        </div>
        <div class="d-flex justify-content-between">
          <%= f.input :height,
                      label: "HEIGHT IN cm" %>
          <%= f.input :weight,
                      label: "WEIGHT IN kg" %>
        </div>
        <div>
          <%= f.input :birthday,
                      as: :date,
                      start_year: Date.today.year - 12,
                      end_year: 1940,
                      order: [ :day, :month, :year],
                      label: "YOUR BIRTH DATE" %>
          <%= f.input :place_of_birth,
                      label: "PLACE OF BIRTH",
                      class: "search_location",
                      placeholder: "Your Hometown" %>
          <%= f.input :country,
                      collection: @continents,
                      label: "NATIONALITY" %>
          <%= f.input :bio,
                      label: "TELL US MORE ABOUT YOURSELF" %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Save", class: "btn btn-primary cta-signup mb-3" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
