<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <p class="help-save">
        <%= t('.save_changes_below') %>
      </p>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="accordion" id="accordionEditProfile">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <%= t('.contact_password') %>
              </button>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionEditProfile">
              <div class="card-body">
                <%= f.input :email,
                      required: true,
                      autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
                <% end %>
                <%= f.input :phone_number,
                            as: :tel,
                            pattern: "\+[0-9]+" %>
                <span id="valid-msg" class="hide">✓Valid</span>
                <span id="error-msg" class="hide"></span>
                <%= f.input :password,
                      hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                <%= t('.about_you') %>
              </button>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionEditProfile">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <%= f.input :first_name,
                        label: t('.first_name') %>
                  <%= f.input :last_name,
                              label: t('.last_name') %>
                </div>
                <%= f.input :address,
                            label: t('.location'),
                            placeholder: "example: Plaza De Cataluña, Barcelona" %>
                <%= f.input :country,
                            collection: @continents,
                            label: t('.nationality') %>
                <div class="d-flex justify-content-between">
                  <%= f.input :place_of_birth,
                            label: t('.place_of_birth'),
                            class: "search_location",
                            placeholder: t('.place_of_birth') %>
                  <%= f.input :birthday,
                        input_html: {
                          class: "datepicker-edit",
                          age: "#{current_user.birthday}"
                          },
                        as: :string,
                        label: t('.birthdate') %>
                </div>
                <div class="d-flex justify-content-between">
                  <%= f.input :gender,
                        collection: User.genders,
                        label: t('.gender') %>
                  <%= f.input :height,
                        label: t('.height') %>
                  <%= f.input :weight,
                        label: t('.weight') %>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                <%= t('.your_game') %>
              </button>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionEditProfile">
              <div class="card-body">
                <%= f.input :style_of_play,
                      collection: User.style_of_play,
                      label: t('.style_of_play') %>
                <%= f.input :handedness,
                            collection: User.handedness,
                            label: t('.righty_lefty') %>
                <%= f.input :backhand_style,
                            collection: User.backhand_style,
                            label: t('.backhand_style') %>
                <%= f.association :club,
                                  label: t('.club') %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                <%= t('.picture_bio') %>
              </button>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionEditProfile">
              <div class="card-body">
                <div class="form-inputs form-label">
                  <div class="custom-file">
                    <% if @user.picture.present? %>
                      <div class="imagePreview"  id="edit-photo-form" data-picture="<%= cl_image_path current_user.picture %>"></div>
                    <% else %>
                      <div class="imagePreview"  id="edit-photo-form"></div>
                      <img src="http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg" alt="" class="imagePreview">
                    <% end %>
                    <label class="btn btn-primary upload">
                      <%= t('.upload') %>
                      <%= f.input :picture, input_html: {class: 'custom-file-input', accept: 'image/*'}, label: false %>
                    </label>
                  </div>
                  <input type="hidden" id="user_angle" name="user[angle]" value="0">
                  <%= f.input :bio,
                              label: t('.bio'),
                              placeholder: t('.description') %>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <button class="btn accordion-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                <%= t('.settings') %>
              </button>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionEditProfile">
              <div class="card-body">
                <div class="settings-section">
                  <h5>
                    <%= t('.languages') %>
                  </h5>
                  <%= f.input :language, as: :select, collection: [['en', 'english'], ['fr', 'french'], ['es', 'spanish']], label_method: :second, value_method: :first, label: false, include_blank: false %>
                </div>
                <div class="settings-section">
                  <h5>
                    <%= t('.notifications') %>
                  </h5>
                    <%= f.input :new_callout_email, as: :boolean, label: t('.new_callout_email') %>
                    <%= f.input :new_player_review_email, as: :boolean, label: t('.new_player_review_email') %>
                    <%= f.input :new_game_event_email, as: :boolean, label: t('.new_game_event_email') %>
                    <%= f.input :new_match_result_email, as: :boolean, label: t('.new_match_result_email') %>
                    <%= f.input :confirmed_match_result_email, as: :boolean, label: t('.confirmed_match_result_email') %>
                    <%= f.input :show_my_whatsapp, as: :boolean, label: t('.show_my_whatsapp') %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="save-profile">
          <%#= f.input :current_password,
                      hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <div class="form-actions">
            <%= f.button :submit, t(".update"), class: "btn btn-primary cta-signup mb-3" %>
          </div>
        </div>
      <% end %>
      <div class="cancel-account">
        <p>
          <%= t('.unhappy') %>
          <%= link_to t(".cancel_my_account"), registration_path(resource_name),
            data: { confirm: t('.are_you_sure') },
            method: :delete %>
        </p>
      </div>
    </div>
  </div>
</div>
