<% users.each do |user| %>
  <% present user do |user_presenter| %>
    <%= link_to user_path(user), class: "col-6 col-md-4 text-decoration-none", :action => 'go' do %>
      <div class="row">
        <div class="col-12 p-1">
          <div class="player-card">

            <div class="pic">
              <%= user_presenter.card_picture %>
              <div class="ranking">
                <span>WR</span>
                <div class="rank">
                  #<%= user.ranking %>
                </div>
              </div>
            </div>

            <div class="info">
              <div class="main-info">
                <div class="name-flag">
                  <h2>
                    <%= user_presenter.full_name %>
                  </h2>
                  <% if user.country %>
                  <span class="flag-icon flag-icon-by flag-icon-<%= user.country.downcase %>"></span>
                  <% else %>
                  <p>
                    no country
                  </p>
                  <% end %>
                </div>


                <div class="skills">
                  <div class="blue-box">
                    <%= user.level %>
                  </div>
                  <div class="blue-box">
                    <%= user.style_of_play %>
                  </div>
                </div>
              </div>

              <div class="group-progress">
                <div class="line-progress">
                  <p>
                    serve
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.serve %>%" aria-valuenow="<%= user_presenter.serve %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="line-progress">
                  <p>return</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.return %>%" aria-valuenow="<%= user_presenter.return %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="line-progress">
                  <p>forehand</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.forehand %>%" aria-valuenow="<%= user_presenter.forehand %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="line-progress">
                  <p>backhand</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.backhand %>%" aria-valuenow="<%= user_presenter.backhand %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="line-progress">
                  <p>volley</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.volley %>%" aria-valuenow="<%= user_presenter.volley %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

              <% if user.review_score.nil?  %>
                <div class="thumb">
                  <span>No reviews yet!</span>
                </div>
              <% else %>
                <div class="thumb">
                  <i class="far fa-thumbs-up"></i>
                  <div class= "font">
                    <%= user.review_score %>%
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
