<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-12 col-md-4 offset-md-4">

      <h2>Step 2: Account Details</h2>

      <%= simple_form_for(current_user, url:sign_up_path(current_user), method: :patch) do |f| %>
        <div class="form-inputs form-label">
          <%= f.input :first_name, label: "YOUR FIRST NAME" %>
          <%= f.input :last_name, label: "YOUR LAST NAME" %>
          <%= f.input :level, :collection => %w[Beginner Intermediate Advanced Semi-pro Pro], label:"PICK YOUR LEVEL" %>
          <%= f.input :address, label:"YOUR LOCATION", placeholder: "example: Plaza De Cataluña, Barcelona"%>
          <%= f.input :phone_number, label:"ENTER YOUR PHONE NUMBER", placeholder: "example: +34", as: :tel, pattern: "[0-9]+"%>
          <%= f.input :picture %>
          <%= f.input :picture_cache, as: :hidden %>
          <%= f.input :style_of_play,
                      :collection => %w[baseliner attacker grinder server-volleyer puncher],
                      label:"WHAT IS YOUR STYLE OF PLAY?" %>
          <%= f.input :handedness,
                      :collection => %w[righty lefty],
                      label:"ARE YOU A RIGHTY OR LEFTY?" %>
          <%= f.input :backhand_style,
                      :collection => ["one handed backhand", "two handed backhand"],
                      label:"WHAT IS YOUR BACKHAND STYLE?" %>
          <%= f.input :gender,
                      :collection => %w[Male Female Other],
                      label:"GENDER" %>
          <div class="d-flex justify-content-between">
            <%= f.input :height,
                        label:"HEIGHT IN cm" %>
            <%= f.input :weight,
                        label:"WEIGHT IN kg" %>
          </div>
          <%= f.input :birthday,
                      :as => :date,
                      :start_year => Date.today.year - 12,
                      :end_year => 1940,
                      :order => [ :day, :month, :year],
                      label:"YOUR BIRTH DATE" %>
          <%= f.input :place_of_birth,
                      label:"PLACE OF BIRTH",
                      class: "search_location",
                      :placeholder => "Your Hometown" %>
          <%= f.input :country,
                      collection: @continents,
                      label:"NATIONALITY" %>
          <%= f.input :bio,
                      label: "TELL US MORE ABOUT YOURSELF" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Save", class: "btn btn-primary cta-signup mb-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

