<div class="container-fluid">
  <div class="row p-1">

    <% @users.each do |user| %>
      <div class="col-6 p-1">
        <div class="player-card">

          <div class="pic">
            <%= cl_image_tag user.picture, class:"img" %>
            <div class="ranking">
              <span>WR # <%= user.ranking %></span>
            </div>
          </div>

          <div class="name-flag">
            <h2><%= user.first_name %> <%= user.last_name %></h2>
            <%= cl_image_tag user.picture, class:"flag" %>
          </div>

          <div class="skills">
            <div class="blue-box">
              <%= user.level %>
            </div>
            <div class="blue-box">
              <%= user.style_of_play %>
            </div>
          </div>

          <div class="group-progress">
            <div class="line-progress">
              <p>serve</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.serve)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.serve)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="line-progress">
              <p>return</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.return)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.return)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="line-progress">
              <p>forehand</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.forehand)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.forehand)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="line-progress">
              <p>backhand</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.backhand)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.backhand)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="line-progress">
              <p>volley</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.volley)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.volley)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="thumb">
            <i class="far fa-thumbs-up"></i>
            <div class= "font"><%= ((user.computed_skills_set.volley)*10).to_i %>%</div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
