<div class="container container-index">
  <div class="search-results">
    <% if params[:search].try(:[], :location)&.present? %>
      <span id="user-query-indicator">
        <%= pluralize @users.length, 'player' %> in <%= params[:search][:location] %>
      </span>
    <% else %>
      <span id="user-query-indicator">
        <%= pluralize @users.length, 'player' %> matching your query
      </span>
    <% end %>
  </div>

  <%= simple_form_for :search, url: users_path, method: :get, remote: true do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[results][]" id="search_query" value="<%= params[:search].try(:[], :query) %>" />
    <button name="button" type="button" id="button-inside" class="btn btn-flat align-middle" data-toggle="modal" data-target="#exampleModal">
      Filter
    </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter your results</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.input :location, required: false, input_html: {name: "search[location]", value: params[:search].try(:[], :location)} , as: :string %>
          <div class="d-flex inline justify-content-between">
            <%= f.input :first_name, required: false, input_html: {name: "search[query][]", class: "form-control inline mr-1"}  %>
            <%= f.input :last_name, required: false, input_html: {name: "search[query][]", class: "form-control inline"} %>
          </div>
          <%= f.input :level, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: ['Beginner','Intermediate','Advanced','Semi-Pro','Pro'], wrapper: :vertical_collection_inline %>
          <%= f.input :style_of_play, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: ['Grinder','Baseliner','Server-Volleyer','Attacker','Puncher'], wrapper: :vertical_collection_inline %>
          <%#= f.input :country, input_html: {name: "search[query][]"}  %>
          <%= f.input :handedness, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: ['Righty','Lefty'], wrapper: :vertical_collection_inline %>

          <%= f.input :backhand_style, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: ['One handed','Two handed'], wrapper: :vertical_collection_inline  %>
          <%= f.input :gender, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: ['Male','Female'], wrapper: :vertical_collection_inline %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Search", class: "btn btn-primary btn-lg w-100" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="container-fluid">
    <div class="row" id="users-container">
      <%= render 'users', users: @users %>
    </div>
  </div>
</div>
