<div class="container">

  <%= simple_form_for :search, url: users_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[]" id="search_query" value="<%= params[:search]&.join(" ")%>" />
      <button name="button" type="button" id="button-inside" class="btn btn-flat align-middle" data-toggle="modal" data-target="#exampleModal">
      Filter
      </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter your results</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.input :location, required: false, input_html: {name: "search[]"} , as: :string%>
          <div class="d-flex inline justify-content-between">
            <%= f.input :first_name, required: false, input_html: {name: "search[]", class: "form-control inline"}  %>
            <%= f.input :last_name, required: false, input_html: {name: "search[]", class: "form-control"} %>
          </div>

          <%= f.input :level, as: :check_boxes, required: false, input_html: {name: "search[]"} , collection: ['Beginner','Intermediate','Advanced','Semi-Pro','Pro'], wrapper: :vertical_collection_inline %>
          <%= f.input :style_of_play, as: :check_boxes, required: false, input_html: {name: "search[]"} , collection: ['Grinder','Baseliner','Server-Volleyer','Attacker','Puncher'], wrapper: :vertical_collection_inline %>
          <%#= f.input :country, input_html: {name: "search[]"}  %>
          <%= f.input :handedness, as: :check_boxes, required: false, input_html: {name: "search[]"} , collection: ['Righty','Lefty'], wrapper: :vertical_collection_inline %>

          <%= f.input :backhand_style, as: :check_boxes, required: false, input_html: {name: "search[]"} , collection: ['One handed','Two handed'], wrapper: :vertical_collection_inline  %>
          <%= f.input :gender, as: :check_boxes, required: false, input_html: {name: "search[]"} , collection: ['Male','Female'], wrapper: :vertical_collection_inline %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Search", class: "btn btn-primary btn-lg w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <% @users.each do |user| %>
        <%= link_to user_path(user), class: "col-6 text-decoration-none", :action => 'go' do %>
          <div class="row">
            <div class="col-12 p-1">
              <div class="player-card">

                <div class="pic">
                  <%= cl_image_tag user.picture, class:"img" %>
                  <div class="ranking">
                    <span>WR</span>
                    <div class="rank"> #<%= user.ranking %></div>
                  </div>
                </div>

                <div class="info">
                  <div class="main-info">
                    <div class="name-flag">
                      <h2><%= user.first_name %> <%= user.last_name %></h2>
                      <%= cl_image_tag user.picture, class:"flag" %>
                    </div>

                    <div class="skills">
                      <div class="blue-box">
                        <%= user.level %>
                      </div>
                      <div class="blue-box">
                        <%= user.style_of_play %>
                      </div>
                    </div>
                  </div>

                  <div class="group-progress">
                    <div class="line-progress">
                      <p>serve</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.serve)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.serve)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <div class="line-progress">
                      <p>return</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.return)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.return)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <div class="line-progress">
                      <p>forehand</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.forehand)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.forehand)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <div class="line-progress">
                      <p>backhand</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.backhand)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.backhand)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <div class="line-progress">
                      <p>volley</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= ((user.computed_skills_set.volley)*10).to_i %>%" aria-valuenow="<%= ((user.computed_skills_set.volley)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>

                  <div class="thumb">
                    <i class="far fa-thumbs-up"></i>
                    <div class= "font"><%= ((user.computed_skills_set.volley)*10).to_i %>%</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
