<div class="container container-index">
  <div class="search-results">
    <% if params[:search].try(:[], :location)&.present? %>
      <span id="user-query-indicator">
        <%#= t('.players_with_location', count: @users.count) %>
        <%#= params[:search][:location] %>
      </span>
    <% else %>
      <span id="user-query-indicator">
        <%= t('.players', count: @users.total_entries) %>
        <%#= t('.matching_query', count: @users.count) %>
      </span>
    <% end %>
  </div>

  <%= simple_form_for :search, url: users_path, method: :get, remote: true do |f| %>
  <div class="row search-filters">
    <div class="col-12 col-md-7 search-form-control">
      <%= f.input :first_name, required: false, placeholder: t('.type_anything'), id: "search_query", input_html: { name: "search[query][]" } %>
      <!-- <input placeholder="type in a player's name" class="form-control string required" type="text" name="search[results][]" id="search_query" value="<%#= params[:search].try(:[], :query) %>" /> -->
      <%#= f.submit "Search" %>
    </div>
    <div class="or-use-text col-12 col-md-2 text-center d-flex align-items-center justify-content-center">
      <span>
        <%= t('.or_use') %>
      </span>
    </div>
    <button name="button" type="button" class="col-12 col-md-3 btn btn-flat align-middle filter-button" data-toggle="modal" data-target="#exampleModal">
      <%= t('.filters') %>
    </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <%= t('.filter_results') %>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.input :club, required: false, collection: Club.all, input_html: {name: "search[query][]", class: "select-club"}, label: t('.club') %>
          <%= f.input :location, required: false, input_html: {name: "search[location]", value: params[:search].try(:[], :location)}, id: "search_location", as: :string, label: t('.location') %>
          <%= f.input :country, input_html: {name: "search[query][]", class: "select-country"}, label: t('.country') %>
          <%= f.input :level, as: :check_boxes, required: false, input_html: {name: "search[query][]"}, collection: User.levels, wrapper: :vertical_collection_inline, label: t('.level') %>
          <%= f.input :style_of_play, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: User.style_of_play, wrapper: :vertical_collection_inline, label: t('.style_of_play') %>
          <%= f.input :handedness, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: User.handedness, wrapper: :vertical_collection_inline, label: t('.handedness') %>

          <%= f.input :backhand_style, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: User.backhand_style, wrapper: :vertical_collection_inline, label: t('.backhand_style')  %>
          <%= f.input :gender, as: :check_boxes, required: false, input_html: {name: "search[query][]"} , collection: User.genders, wrapper: :vertical_collection_inline, label: t('.gender') %>
        </div>
        <div class="modal-footer">
          <%= f.submit t('.search'), class: "btn btn-primary btn-lg w-100" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="container-fluid">
    <div class="row" id="users-container">
      <%= render 'users', users: @users %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate @users %>
    </div>
  </div>
</div>
