<div class="container">

  <% if current_user && current_user.club.present? %>
    <%= render 'rankings_connected' %>
  <% else %>
    <%= render 'rankings_disconnected' %>
  <% end %>

  <div class="actions-wrapper">
    <button type="button" class="mdc-fab app-fab--absolute" aria-label="question" data-toggle="modal" data-target="#exampleModalCenter">
      <span class="help-questionmark">?</span>
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content elo-explained">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          <%= t('.title') %>
        </h5>
      </div>
      <div class="modal-body">
        <p>
          <%= t('.first_p_html') %>
        </p>
        <p>
          <%= t('.second_p_html') %>
        </p>
        <p>
          <%= t('.third_p_html') %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('.got_it') %>
        </button>
      </div>
    </div>
  </div>
</div>
