<div class="container">
  <table class="ranking-table">
    <tbody>
      <% @users.each do |user| %>
          <% present user do |user_presenter| %>
            <tr>
              <td class="center-text-table rankings-table"><%= user.ranking %></td>
              <td class="center-text-table">
                <% if user.country.present? %>
                  <span class="flag-icon flag-icon-<%= user.country.downcase %>"></span>
                <% else %>
                  <i class="far fa-flag"></i>
                <% end %>
              </td>
              <td class="text-align-left">
                <%= link_to user_path(user) do %>
                  <%= user_presenter.full_name %>
                <% end %>
              </td>
              <td class="center-text-table">
                <% if user.club.present? %>
                  <%= user.club.shortname %>
                <% end %>
              </td>
              <td class="center-text-table points-table"><%= user_presenter.points %> </td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<button type="button" class="mdc-fab app-fab--absolute" aria-label="question" data-toggle="modal" data-target="#exampleModalCenter">
  <span class="help-questionmark">?</span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content elo-explained">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">How does rankings work?</h5>
      </div>
      <div class="modal-body">
        <p>
          The ranking system we use is the <strong>Elo Ranking</strong>. It is designed to reflect as accurately as possible the level of a player overtime.
        </p>
        <p>
          In short, the formula adds/remove points to each player based on the outcome of the match (win/lose) and their initial points.
        </p>
        <p>
          The important thing to do if you want your ranking to be more and more accurate is to <strong>record your matches</strong> on Backhand! ;)
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
