<% present @user do |user_presenter| %>
  <div class="container">
    <div class="back-section-space">
      <%= link_to "back".html_safe, :back, id: "back", class: "back-link" %>
    </div>
    <div class="main-info-show">
      <div class="pic-show">
        <% if @user.picture.present? %>
          <%= user_presenter.picture %>
        <% else %>
          <img class="img-show" src="<%= image_path 'profile.png' %>">
        <% end %>
        <div class="points-show">
          <span>
            pts
          </span>
          <div class="point-show">
            <%= user_presenter.points %>
          </div>
        </div>
      </div>

      <div class="name-flag-show">
        <h2>
          <%= user_presenter.full_name %>
        </h2>
        <div class="flag-3letters">
          <span class="flag-icon flag-show flag-icon-<%= force_country(@user).downcase %>"></span>
          <span class="flag-letters-vertical">
            <%= user_presenter.country_code %>
          </span>
        </div>
      </div>

      <div class="level-style-show">
        <div class="level-style">
          <%= force_level(@user).downcase %>
        </div>
        <div class="level-style">
          <%= @user.style_of_play %>
        </div>
      </div>

    </div>

    <!-- tabs -->
    <div class="tabs">

      <ul class="list-inline tabs-underlined">
        <li>
          <a href data-target="player_info" class="tab-underlined active tab-title-show">Info</a>
        </li>
        <li>
          <a href="#" data-target="player_bio" class="tab-underlined tab-title-show">Bio</a>
        </li>
      </ul>

      <div class="player-infos" id="player_info">
        <div class="details">
          <br>
          <!-- <p>age: <%= @user.birthday %></p> -->
          <p>age: <span class="details-info"><%= force_age(@user) %> years old</span></p>

          <p>birthday: <span class="details-info"><%= @user.birthday %></span></p>
          <p>place of birth: <span class="details-info address-place"><%= @user.place_of_birth %></span></p>
          <br>
          <p>height: <span class="details-info"><%= @user.height %> cm</span></p>
          <p>weight: <span class="details-info"><%= @user.weight %> kg</span></p>
          <br>
          <p>style: <span class="details-info"><%= @user.handedness %> - <%= @user.backhand_style %></span></p>
          <p>residence: <span class="details-info address-place"><%= @user.address %></span></p>
          <% if @user.club_id.present? %>
            <p>club: <span class="details-info"> <%= user_presenter.club %></span></p>
          <% end %>
        </div>
      </div>

      <div class="player-bio hidden" id="player_bio">
        <p><%= @user.bio %></p>
      </div>
    </div>
    <!-- end tabs -->

    <!-- Rankings & Stats -->
    <div class="rankings">
      <h3>Rankings & Stats</h3>

      <div class="world-ranking">
        <span>
          world ranking
        </span>
        <span class="rank-points">
          #<%= @user.ranking %>
        </span>
        <span>
          with
        </span>
        <span class="rank-points">
          <%= user_presenter.points %>
        </span>
        <span>
          points
        </span>
      </div>

      <div class="stats">
        <% unless @played_matches.count == 0 %>
          <div class="progress-circle" data-percentage="<%= @progressbar %>">
            <span class="progress-circle-left">
              <span class="progress-circle-bar"></span>
            </span>
            <span class="progress-circle-right">
              <span class="progress-circle-bar"></span>
            </span>
            <div class="progress-circle-value">
              <div>
                <p><%= @progressbar %>%</p>
              </div>
            </div>
          </div>
        <% else %>
            <div class="progress-circle" data-percentage="0">
            <span class="progress-circle-left">
              <span class="progress-circle-bar"></span>
            </span>
            <span class="progress-circle-right">
              <span class="progress-circle-bar"></span>
            </span>
            <div class="progress-circle-value">
              <div>
                <p>0%</p>
              </div>
            </div>
          </div>
        <% end %>

        <div class="vertical-line"></div>
        <div class="challenges-stats">
          <span><%= @played_matches.count %> matches</span><br>
          <span><%= @user.matches_won.count %> wins</span><br>
          <span><%= @user.matches_lost.count %> losses</span><br>
        </div>
      </div>
    </div>
    <!-- end Rankings & Stats -->

    <!-- skills -->
    <div class="skills-show">
      <h3>
        Skills
      </h3>


      <div class="strokes">
        <span class="skills-subtitle">
          STROKES
        </span>

        <div class="group-progress-strokes">
          <div class="line-progress-show">
            <p>
              serve
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.serve %>%" aria-valuenow="<%= user_presenter.serve %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              return
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.return %>%" aria-valuenow="<%= user_presenter.return %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              forehand
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.forehand %>%" aria-valuenow="<%= user_presenter.forehand %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              backhand
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.backhand %>%" aria-valuenow="<%= user_presenter.backhand %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              volley
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.volley %>%" aria-valuenow="<%= user_presenter.volley %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="fitness">
        <span class="skills-subtitle">
          FITNESS
        </span>
        <div class="group-progress-fitness">
          <div class="line-progress-show">
            <p>
              speed
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.speed %>%" aria-valuenow="<%= user_presenter.speed %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              power
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.power %>%" aria-valuenow="<%= user_presenter.power %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              endurance
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.endurance %>%" aria-valuenow="<%= user_presenter.endurance %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end skills -->

    <!-- comments -->
    <div class="comments">

      <div class="comment-thumb">
        <% if @user.review_score.nil?  %>
          <div class="mt-4 mx-auto">
            <span><%= @user.first_name %> hasn't received any reviews yet!</span>
          </div>
        <% else %>
        <h3>Comments</h3>

        <div class="thumb-show">
          <i class="far fa-thumbs-up"></i>
          <div>
            <%= @user.review_score %>%
          </div>
        </div>
        <% end %>
      </div>
      <% @reviews.each do |review| %>
        <div class="review-avatar">
          <p><%= review.content %></p>
            <%= link_to user_path(review.sender) do %>
            <div class="avatar-name">
              <%= cl_image_tag(review.sender.picture, quality: "auto", class:"avatar") %>
              <h2>
                <%= review.sender.first_name %>
              </h2>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <% if @user == current_user %>
        <div class="cta-back-unique">
          <%= link_to 'edit', edit_user_registration_path, class: "btn btn-flat" %>
        </div>
      <% else %>
        <div class="cta-back-two-ctas d-flex flex-row">
          <%= link_to new_user_user_review_path(@user), class: "btn btn-flat cta-review-button" do %>
            <%= "review" %>
          <% end %>
          <a href="https://wa.me/<%= @user.phone_number %>?text=Hello%20<%= @user.first_name %>%20I'm%20<%= current_user.first_name %>%20from%20https://www.backhandapp.com!%20Fancy%20playing%20some%20tennis?" class="btn btn-flat cta-contact-button" role="button">
            contact
          </a>
        </div>
      <% end %>
    <% else %>
      <div class="cta-back-two-ctas d-flex flex-row">
        <%= link_to new_user_session_path, class: "btn btn-flat cta-contact-button" do %>
          <%= "contact" %>
        <% end %>
        <%= link_to new_user_user_review_path(@user), class: "btn btn-flat cta-review-button" do %>
          <%= "review" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
