<% present @user do |user_presenter| %>
  <div class="container">
    <div class="main-info-show">
      <div class="pic-show">
        <% if @user.picture.present? %>
          <%= user_presenter.picture %>
        <% else %>
          <img class="img-show" src="<%= image_path 'profile.png' %>">
        <% end %>
        <div class="points-show">
          <span>
            pts
          </span>
          <div class="point-show">
            <%= user_presenter.points %>
          </div>
        </div>
        <% if user_signed_in? %>
          <% if @user != current_user %>
            <div class="favorite" data-user-id="<%= @user.id %>">
              <% if current_user.favorite_players.include?(@user)%>
                <%= link_to favorite_player_path(@user), method: :delete, remote: true do %>
                  <i id="fav-star" class="fas fa-star"></i>
                <% end %>
              <% else %>
                <%= link_to favorite_players_path(id: @user), method: :post, remote: true do %>
                  <i id="fav-star" class="far fa-star"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="name-flag-show">
        <h2>
          <%= user_presenter.full_name %>
        </h2>
        <div class="flag-3letters">
          <span class="flag-icon flag-show flag-icon-<%= force_country(@user).downcase %>"></span>
          <span class="flag-letters-vertical">
            <%= user_presenter.country_code %>
          </span>
        </div>
      </div>

      <div class="level-style-show">
        <div class="level-style">
          <%= user_presenter.level(@user.level) %>
        </div>
        <div class="level-style">
          <%= user_presenter.style(@user.style_of_play) %>
        </div>
      </div>

    </div>

    <!-- tabs -->
    <div class="tabs">

      <ul class="list-inline tabs-underlined">
        <li>
          <a href data-target="player_info" class="tab-underlined active tab-title-show">
            <%= t('show.info') %>
          </a>
        </li>
        <li>
          <a href="#" data-target="player_bio" class="tab-underlined tab-title-show">
            <%= t('show.bio') %>
          </a>
        </li>
      </ul>

      <div class="player-infos" id="player_info">
        <div class="details">
          <p>
            <%= t('.age') %>
            <span class="details-info">
              <%= force_age(@user) %>
              <%= t('.years_old') %>
            </span>
          </p>
          <p>
            <%= t('.birthday') %>
            <span class="details-info">
              <%= @user.birthday %>
            </span>
          </p>
          <% if @user.place_of_birth.present? %>
            <p>
              <%= t('.place_of_birth') %>
              <span class="details-info address-place">
                <%= @user.place_of_birth %>
              </span>
            </p>
          <% end %>
          <br>
          <% if @user.height.present? %>
            <p>
              <%= t('.height') %>
              <span class="details-info">
                <%= @user.height %> cm
              </span>
            </p>
          <% end %>
          <% if @user.weight.present? %>
            <p>
              <%= t('.weight') %>
              <span class="details-info">
                <%= @user.weight %> kg
              </span>
            </p>
          <% end %>
          <br>
          <p>
            <%= t('.style_of_play') %>
            <span class="details-info">
              <%= user_presenter.handedness(@user.handedness) %> - <%= user_presenter.backhand_style(@user.backhand_style) %>
            </span>
          </p>
          <p>
            <%= t('.residence') %>
            <span class="details-info address-place">
              <%= user_presenter.city(@user.address) %>
            </span>
          </p>
          <% if @user.club_id.present? %>
            <p>
              <%= t('.club') %>
              <span class="details-info">
                <%= user_presenter.club %>
              </span>
            </p>
          <% end %>
        </div>
      </div>

      <div class="player-bio hidden" id="player_bio">
        <p><%= @user.bio %></p>
      </div>
    </div>
    <!-- end tabs -->

    <!-- Rankings & Stats -->
    <div class="rankings">
      <h3>
        <%= t('.rankings_and_stats') %>
      </h3>

      <div class="world-ranking">
        <span>
          <%= t('.world_ranking') %>
        </span>
        <span class="rank-points">
          #<%= @user.ranking %>
        </span>
        <span>
          <%= t('.with') %>
        </span>
        <span class="rank-points">
          <%= user_presenter.points %>
        </span>
        <span>
          <%= t('.points') %>
        </span>
      </div>

      <div class="stats">
        <% unless @played_matches.count == 0 %>
          <div class="progress-circle" data-percentage="<%= @progressbar %>">
            <span class="progress-circle-left">
              <span class="progress-circle-bar"></span>
            </span>
            <span class="progress-circle-right">
              <span class="progress-circle-bar"></span>
            </span>
            <div class="progress-circle-value">
              <div>
                <p><%= @progressbar %>%</p>
              </div>
            </div>
          </div>
        <% else %>
            <div class="progress-circle" data-percentage="0">
            <span class="progress-circle-left">
              <span class="progress-circle-bar"></span>
            </span>
            <span class="progress-circle-right">
              <span class="progress-circle-bar"></span>
            </span>
            <div class="progress-circle-value">
              <div>
                <p>0%</p>
              </div>
            </div>
          </div>
        <% end %>

        <div class="vertical-line"></div>
        <div class="matches-stats">
          <span>
            <%= @played_matches.count %>
            <%= t('.matches') %>
            </span><br>
          <span>
            <%= @user.matches_won.count %>
            <%= t('.wins') %>
            </span><br>
          <span>
            <%= @user.matches_lost.count %>
            <%= t('.losses') %>
          </span><br>
        </div>
      </div>
    </div>
    <!-- end Rankings & Stats -->

    <!-- skills -->
    <div class="skills-show">
      <h3>
        <%= t('.skills') %>
      </h3>


      <div class="strokes">
        <span class="skills-subtitle">
          <%= t('.strokes') %>
        </span>

        <div class="group-progress-strokes">
          <div class="line-progress-show">
            <p>
              <%= t('.serve') %>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.serve %>%" aria-valuenow="<%= user_presenter.serve %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              <%= t('.return') %>

            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.return %>%" aria-valuenow="<%= user_presenter.return %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              <%= t('.forehand') %>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.forehand %>%" aria-valuenow="<%= user_presenter.forehand %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              <%= t('.backhand') %>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.backhand %>%" aria-valuenow="<%= user_presenter.backhand %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              <%= t('.volley') %>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.volley %>%" aria-valuenow="<%= user_presenter.volley %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="fitness">
        <span class="skills-subtitle">
          <%= t('.fitness') %>
        </span>
        <div class="group-progress-fitness">
          <div class="line-progress-show">
            <p>
              <%= t('.speed') %>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.speed %>%" aria-valuenow="<%= user_presenter.speed %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              <%= t('.power') %>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.power %>%" aria-valuenow="<%= user_presenter.power %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="line-progress-show">
            <p>
              <%= t('.endurance') %>
            </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= user_presenter.endurance %>%" aria-valuenow="<%= user_presenter.endurance %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end skills -->

    <!-- comments -->
    <div class="comments">

      <div class="comment-thumb">
        <% if @user.review_score.nil?  %>
          <div class="mt-4 mx-auto">
            <span>
              <%= @user.first_name %>
              <%= t('no_reviews_yet') %>
            </span>
          </div>
        <% else %>
        <h3>
          <%= t('.comments') %>
        </h3>

        <div class="thumb-show">
          <i class="far fa-thumbs-up"></i>
          <div>
            <%= @user.review_score %>%
          </div>
        </div>
        <% end %>
      </div>
      <% @reviews.each do |review| %>
        <div class="review-avatar">
          <p><%= review.content %></p>
            <%= link_to user_path(review.sender) do %>
            <div class="avatar-name">
              <%= cl_image_tag(review.sender.picture, quality: "auto", class:"avatar") %>
              <h2>
                <%= review.sender.first_name %>
              </h2>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- actions -->
    <div class="actions-wrapper">
      <% if user_signed_in? %>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path do %>
            <button class="mdc-fab app-fab--absolute" aria-label="Favorite">
              <span class="mdc-fab__icon material-icons">
                edit
              </span>
            </button>
          <% end %>
        <% else %>
          <button id="more-button" class="mdc-fab app-fab--absolute" aria-label="open">
            <span class="mdc-fab__icon material-icons">
              add
            </span>
          </button>
          <button id="copy-link-button" class="mdc-fab b-230 app-fab--absolute hidden" aria-label="link">
            <span class="mdc-fab__icon material-icons">
              link
            </span>
          </button>
          <% if @user.settings[:show_my_whatsapp] == true %>
            <a href="https://wa.me/<%= @user.phone_number %>?text=Hello%20<%= @user.first_name %>%20I'm%20<%= current_user.first_name %>%20from%20https://www.backhandapp.com!%20Fancy%20playing%20some%20tennis?">
              <button id="whatsapp-button" class="mdc-fab b-160 app-fab--absolute hidden" aria-label="Favorite">
                <i class="fab fa-whatsapp"></i>
              </button>
            </a>
          <% end %>
          <%= link_to new_user_user_review_path(@user) do %>
            <button id="review-button" class="mdc-fab b-90 app-fab--absolute hidden" aria-label="Favorite">
              <span class="mdc-fab__icon material-icons">edit</span>
            </button>
          <% end %>
        <% end %>
      <% else %>
        <button id="more-button" class="mdc-fab app-fab--absolute" aria-label="open">
          <span class="mdc-fab__icon material-icons">
            add
          </span>
        </button>
        <div class="d-flex">
          <button id="copy-link-button" class="mdc-fab b-230 app-fab--absolute hidden" aria-label="link">
            <span class="mdc-fab__icon material-icons">
              link
            </span>
          </button>
        </div>
        <%= link_to new_user_session_path do %>
          <button id="whatsapp-button" class="mdc-fab b-160 app-fab--absolute hidden" aria-label="Favorite">
            <i class="fab fa-whatsapp"></i>
          </button>
        <% end %>
        <%= link_to new_user_user_review_path(@user) do %>
          <button id="review-button" class="mdc-fab b-90 app-fab--absolute hidden" aria-label="Favorite">
            <span class="mdc-fab__icon material-icons">edit</span>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
