<div class="container">
  <div class="back-section-space">
    <%= link_to "back".html_safe, :back, id:"back", class:"back-link" %>
    <%= link_to 'edit', edit_user_registration_path %>
  </div>
  <div class="pic-show">
    <% if @user.picture.present? %>
      <%= cl_image_tag(@user.picture, class:"img-b")  %>
    <% else %>
      <%= image_tag "profile.png", class:"img-b" %>
    <% end %>
    <div class="ranking-show">
      <span>WR</span>
      <div class="rank-show">#<%= @user.ranking %></div>
    </div>
  </div>

  <div class="name-flag-show">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <div class="flag-3letters">
        <% country_name = I18nData.countries[@user.country]&.downcase %>
        <% code = ISO3166::Country.find_country_by_name(country_name) %>
        <span class="flag-icon flag-icon-by flag-show flag-icon-<%= @user.country.downcase %>"></span>
        <span class="flag-letters-vertical"><%= code&.alpha3 %></span>
      </div>
  </div>

  <div class="level-style-show">
    <div class="level-style">
      <%= @user.level %>
    </div>
    <div class="level-style">
      <%= @user.style_of_play %>
    </div>
  </div>


<!-- tabs -->
  <div class="tabs">

    <ul class="list-inline tabs-underlined">
      <li>
        <a href data-target="player_info" class="tab-underlined active tab-title-show">Info</a>
      </li>
      <li>
        <a href="#" data-target="player_bio" class="tab-underlined tab-title-show">Bio</a>
      </li>
    </ul>

  <div class="player-infos" id="player_info">

    <div class="details">
      <br>
      <!-- <p>age: <%= @user.birthday %></p> -->
      <p>age: <span class="details-info"><%= @user.age %> years</span></p>

      <p>birthday: <span class="details-info"><%= @user.birthday %></span></p>
      <p>place of birth: <span class="details-info address-place"><%= @user.place_of_birth %></span></p>
      <br>
      <p>height: <span class="details-info"><%= @user.height %> cm</span></p>
      <p>weight: <span class="details-info"><%= @user.weight %> kg</span></p>
      <br>
      <p>style: <span class="details-info"><%= @user.handedness %> - <%= @user.backhand_style %></span></p>
      <p>residence: <span class="details-info address-place"><%= @user.address %></span></p>
    </div>

  </div>

  <div class="player-bio hidden" id="player_bio">
    <p><%= @user.bio %></p>
  </div>

</div>

<!-- end tabs -->

<!-- Rankings & Stats -->

  <div class="rankings">
    <h3>Rankings & Stats</h3>



    <div class="world-ranking">
      <span>world ranking</span>
      <span class="rank-points">#<%= @user.ranking %></span>
      <span>with</span>
      <span class="rank-points"><%= @user.points.to_d.truncate(2).to_f %></span>
      <span>points</span>
    </div>

    <div class="stats">

          <% unless @user.all_challenges.count == 0 %>
            <div class="progress-circle" data-percentage="<%= @progressbar %>">
              <span class="progress-circle-left">
                <span class="progress-circle-bar"></span>
              </span>
              <span class="progress-circle-right">
                <span class="progress-circle-bar"></span>
              </span>
              <div class="progress-circle-value">
                <div>
                  <p> <%= @progressbar %>% </p>
                </div>
              </div>
            </div>
          <% else %>
              <div class="progress-circle" data-percentage="0">
              <span class="progress-circle-left">
                <span class="progress-circle-bar"></span>
              </span>
              <span class="progress-circle-right">
                <span class="progress-circle-bar"></span>
              </span>
              <div class="progress-circle-value">
                <div>
                  <p>0%</p>
                </div>
              </div>
            </div>
          <% end %>

      <div class="challenges-stats">
        <span><%= @user.all_challenges.count %> matches</span><br>
        <span><%= @user.challenges_won.count %> wins</span><br>
        <span><%= @user.challenges_lost.count %> losses</span><br>
      </div>

    </div>

  </div>


<!-- end Rankings & Stats -->

<div class="skills-show">
  <h3>Skills</h3>
  <div class="strokes">
    <div class="vertical">
      <p>STROKES</p>
    </div>
    <div>
      <div class="group-progress-strokes">
        <div class="line-progress-show">
          <p>serve</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.serve)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.serve)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="line-progress-show">
          <p>return</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.return)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.return)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="line-progress-show">
          <p>forehand</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.forehand)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.forehand)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="line-progress-show">
          <p>backhand</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.backhand)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.backhand)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="line-progress-show">
          <p>volley</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.volley)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.volley)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fitness">
    <div class="vertical">
      <p>FITNESS</p>
    </div>
    <div class="group-progress-fitness">
      <div class="line-progress-show">
        <p>speed</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.speed)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.speed)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="line-progress-show">
        <p>power</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.power)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.power)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="line-progress-show">
        <p>endurance</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= ((@user.computed_skills_set.endurance)*10).to_i %>%" aria-valuenow="<%= ((@user.computed_skills_set.endurance)*10).to_i %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="comments">

  <div class="comment-thumb">
    <% if @user.review_score.nil?  %>
      <div class="mt-4 mx-auto">
        <span><%= @user.first_name %> hasn't received any reviews yet!</span>
      </div>
    <% else %>
    <h3>Comments</h3>

    <div class="thumb-show">
      <i class="far fa-thumbs-up"></i>
      <div>
        <%= (@user.review_score) %>%
      </div>
    </div>
    <% end %>
  </div>

  <% @reviews.each do |review| %>
    <div class="review-avatar">
      <p><%= review.content %></p>
      <div class="avatar-name">
        <%= cl_image_tag(review.sender.picture, class:"avatar") %>
        <h2><%= review.sender.first_name %> <%= review.sender.last_name.first %>.</h2>
      </div>
    </div>
  <% end %>
</div>

  <!-- end comments -->



  <!-- Button trigger modal -->
  <div class="cta-back">
    <button type="button" class="btn btn-flat cta-button" data-toggle="modal" data-target="#exampleModalCenter">
      <%= "Challenge #{@user.first_name}" %>
    </button>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <p class= "col">Would you like to challenge this player?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, thanks</button>
          <button type="button" class="btn btn-primary white-bt">
          <%= link_to "Yes!", create_challenge_path(user_id: @user.id), :method => :post %>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>


