<nav class="navbar navbar-expand-lg navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <p class="logo-back">BACK</p> <p class="logo-hand">HAND</p>
  <% end %>
  <% if user_signed_in? %>
    <div class="d-flex d-lg-none">
      <% present current_user do |user_presenter| %>
        <span class="nav-points-ranking">
          pts <%= user_presenter.points %><br>
          #<%= user_presenter.ranking %>
        </span>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
          <% if current_user.picture.present? %>
            <%= cl_image_tag(current_user.picture, width: 40, height: 40, gravity: "face", crop: "thumb", quality: "auto", class: "avatar-bordered")%>
          <% else %>
            <%= image_tag "profile.png", class: "avatar-bordered"%>
          <% end %>
          <% if current_user.notify > 0 %>
            <div class="avatar-notifications">
              <%= current_user.notify %>
            </div>
          <% end %>
        </button>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="menu-content">
      <ul class="navbar-nav w-100 mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to t('navbar.players'), users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.rankings'), rankings_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.matches'), matches_path, class: "nav-link" %>
        </li>
        <li class="nav-item ml-lg-auto">
          <%= link_to t('navbar.my_profile'), user_path(current_user), class: "nav-link ml-lg-auto" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.my_calendar'), my_agenda_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to my_matches_path, class: "nav-link" do %>
            <span>
              <%= t('navbar.my_matches') %>
              <% if current_user.notify > 0 %>
                <div class="matches-notifications">
                  <%= current_user.notify %>
                </div>
              <% end %>
            </span>
          <% end %>
        </li>
        <div class="d-flex">
          <li class="nav-item d-lg-none">
            <%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>

          <li class="nav-item d-none d-lg-flex">
            <% present current_user do |user_presenter| %>
            <li class="nav-item dropdown d-none d-lg-flex">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.picture.present? %>
                <%= cl_image_tag(current_user.picture, width: 40, height: 40, gravity: "face", crop: "thumb", quality: "auto", class: "avatar-bordered")%>
                <% else %>
                  <%= image_tag "profile.png", class: "avatar-bordered"%>
                <% end %>
              </a>
              <div class="dropdown-menu">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </div>
            </li>
              <span class="nav-points-ranking d-none d-lg-flex  ">
                pts <%= user_presenter.points %><br>
                #<%= user_presenter.ranking %>
              </span>
              <% if current_user.notify > 0 %>
                <div class="avatar-notifications">
                  <%= current_user.notify %>
                </div>
              <% end %>
            <% end %>
          </li>
        </div>
        </li>
      </ul>
    </div>

  <% else %>
    <div class="collapse navbar-collapse" id="menu-content">
      <ul class="navbar-nav w-100 mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to t('navbar.players'), users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.rankings'), rankings_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.matches'), matches_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to t('navbar.login'), new_user_session_path, class: "d-flex d-lg-none nav-link text-white" %>
        </li>
      </ul>
    </div>
    <div class="language-more">
      <div class="nav-item dropdown d-lg-flex">
        <button class="navbar-toggler language-menu dropdown-toggle d-lg-flex" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <%= t('navbar.language') %>
        </button>
        <div class="dropdown-menu">
          <%= link_to "français", root_path(locale: :fr), class: "nav-link text-white" %>
          <%= link_to "español", root_path(locale: :es), class: "nav-link text-white" %>
          <%= link_to "english", root_path(locale: :en), class: "nav-link text-white" %>
        </div>
      </div>
      <button class="navbar-toggler see-more-menu d-flex d-lg-none" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
        <%= t('navbar.see_more') %>
      </button>
    </div>
    <div class="login-up ml-lg-auto d-none d-lg-flex">
      <%#= link_to 'Sign up', new_user_registration_path, class: "nav-link text-white" %>
      <%= link_to t('navbar.login'), new_user_session_path, class: "nav-link text-white" %>
    </div>
  <% end %>
</nav>
