<div class="navbar-bh">
  <div class="navbar-brand">
    <%= link_to "#", class: "navbar-brand" do %>
    <p class="logo-back">BACK</p> <p class="logo-hand">HAND</p>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="btn-group">
      <i class="fas fa-bars text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </i>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="avatar-burger">
          <%= image_tag "nadal.jpg", class: "avatar"%>
          <button class="dropdown-item" id="margin-left" type="button">
            My profile
          </button>
        </div>
        <button class="dropdown-item" type="button">
          Search partners
        </button>
        <button class="dropdown-item" type="button">
          Challenges
        </button>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

      </div>
    </div>
  <% else %>
    <div class="login-up">
      <%= link_to 'Sign up', new_user_registration_path, class: "nav-link text-white" %>
      <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
    </div>
  <% end %>
</div>
