<nav class="navbar navbar-expand-lg navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <p class="logo-back">BACK</p> <p class="logo-hand">HAND</p>
  <% end %>
  <% if user_signed_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
      <%= cl_image_tag current_user.picture, class: "avatar-bordered"%>
    </button>

    <div class="collapse navbar-collapse" id="menu-content">
      <ul class="navbar-nav w-100 mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to "My Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Search partners", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Challenges", challenges_path, class: "nav-link" %>
        </li>
        <li class="nav-item ml-auto">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>

  <% else %>
    <div class="login-up ml-auto">
      <%= link_to 'Sign up', new_user_registration_path, class: "nav-link text-white" %>
      <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
    </div>
  <% end %>
</nav>
