<h1><%= @challenge.challenger_id %> vs <%= @challenge.challengee_id %></h1>
<h2>Roger has challenged you.</h2>
<h3><%= @challenge.status %></h3>

<p><%= link_to "Decline Challenge", decline_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Do your really want to decline the Challenge?"}%></p>
<p style="position: relative; bottom: -76px"><%= link_to "Accept & Contact Player", accept_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Would you like to accept the challenge?"}, class: "btn btn-primary" %></p>
