<div class="container">
  <%= simple_form_for [current_user, @event] do |f| %>
    <div class="event-partners">
      <%= f.association :player_2,
          label: t('.who'),
          input_html: { class: "select-your-opponent form-control" },
          collection: current_user.opponents.map{|z| [z.full_name, z.id]} %>
      <%= f.association :player_3,
          input_html: { class: "select-your-opponent form-control" },
          collection: current_user.opponents.map{|z| [z.full_name, z.id]} %>
      <%= f.association :player_4,
          input_html: { class: "select-your-opponent form-control" },
          collection: current_user.opponents.map{|z| [z.full_name, z.id]} %>
    </div>
    <div class="add-remove-players">
      <%= link_to '#', class: "add add-player" do %>
        <i class="fas fa-plus-circle">
          <span>
            <%= t('.add_player') %>
          </span>
        </i>
      <% end %>

      <%= link_to '#', class: "remove remove-player" do %>
        <i class="fas fa-minus-circle">
          <span>
            <%= t('.remove_player') %>
          </span>
        </i>
      <% end %>
    </div>

    <%= f.input :date_time,
        input_html: {class: "datepicker-event"},
        as: :string,
        required: true,
        label: t('.when') %>
    <%= f.association :club,
        label: t('.where'),
        input_html: {class: "select-club form-control"} %>
    <%= f.submit t('.create_event'),
        class: "btn btn-primary cta-next" %>
  <% end %>
</div>
