<div class="container">
  <% @shoutouts.each do |shoutout| %>
    <% present shoutout.user do |user_presenter| %>
      <div class="shoutout-card">
        <div class="shoutout-info">
          <%= link_to user_path(shoutout.user) do %>
            <div class="shoutout-user">
                <%= cl_image_tag shoutout.user.picture, width: 40, height: 40, gravity: "face", crop: "thumb", quality: "auto", class: "avatar-bordered"%>
              <div class="name-info">
                <div class="name">
                    <%= shoutout.user.first_name %>
                </div>
                <div class="more-info">
                  <span class="level-style">
                    <%= shoutout.user.style_of_play %>
                  </span>
                  <span class="level-style">
                    <%= shoutout.user.level %>
                  </span>
                </div>
                <div class="club">
                  <%= user_presenter.plays_at %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="created-ago">
            <% present shoutout do |shoutout| %>
              <%= shoutout.created_at %>
            <% end %>
          </div>
          <p>
            <%= shoutout.message %>
          </p>
        </div>
        <% if user_signed_in? %>
          <% if shoutout.user != current_user %>
          <div class="shoutout-link-blue">
            <a href="https://wa.me/<%= shoutout.user.phone_number %>?text=Hello%20<%= shoutout.user.first_name %>%20I'm%20<%= current_user.first_name %>%20from%20https://www.backhandapp.com!%">Contact <%= shoutout.user.first_name %></a>
          </div>
        <% end %>
  
        <% if shoutout.user == current_user %>
          <div class="shoutout-link-red">
            <%= link_to "remove", shoutout_path(shoutout),
                method: :delete,
                data: { confirm: t('.are_you_sure') } %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="actions-wrapper">
    <%= link_to new_shoutout_path do %>
      <button class="mdc-fab app-fab--absolute" aria-label="open">
        <span class="mdc-fab__icon material-icons">
          add
        </span>
      </button>
    <% end %>
  </div>
</div>
