<div class="container">
  <%= simple_form_for @shoutout do |f| %>
    <%= f.input :recipients, label: false, collection: [['0', t('.my_club')], ['1', t('.everyone')]], label_method: :second, value_method: :first, selected: ["players in my club only"] %>
    <div id="level-slider"></div>
    <%= f.input :minimum_level %>
    <%= f.input :maximum_level %>
    <%= f.input :message, label: false %>
    <%= f.submit t('.send'), class:"btn btn-primary cta-main" %>
  <% end %>
</div>
