<div class="container">
  <h1>User Review</h1>

  <%= simple_form_for [@challenge, @user_review] do |f| %>
    <%= f.input :thumb, as: :radio_buttons, collection: [['yes', true], ['no', false]], label:'Would you recommend playing with ...' %>

    <div>
    <h3>Rate the Skills of Bobby ...</h3>
    <%= f.input :serve, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    <%= f.input :return, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    <%= f.input :forehand, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    <%= f.input :backhand, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    <%= f.input :volley, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    <%= f.input :speed, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    <%= f.input :power, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    <%= f.input :endurance, as: :range, input_html: { min: '0', max: '10', step: '1' } %>
    </div>

    <h3>Leave a comment</h3>
    <%= f.input :content, as: :text %>

    <%= f.submit %>
  <% end %>
</div>
