
<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-12 col-md-4 offset-md-4">
      <h2>Please log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs form-label">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: "YOUR EMAIL" %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" },
                      label: "PASSWORD" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-primary" %>
        </div>
        <% end %>

       <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
