<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="match-result-confirm-body">
        <% if match.player_1 == match.match_result.winner %>
          <p class="result-sentence"><%= match.player_1.first_name %> is asking you to confirm that you lost <%= match.match_result.score %>. Is this correct?</p>
        <% else %>
          <p class="result-sentence"><%= match.player_1.first_name %> is asking you to confirm that you won <%= match.match_result.score %>. Is this correct?</p>
        <% end %>
        <p class="result-sentence-info">PS. If you disagree, click on 'No' below and discuss with your partner.</p>
      </div>
      <div class="modal-footer" id="match-result-confirm-modal">
        <a href="https://wa.me/<%= match.player_1.phone_number %>?text=Hi%20<%= match.player_1.first_name %>!%20It seems that you made a mistake on the match record.%20Can you please fix it?" class="btn btn-secondary">
          No
        </a>
        <%= link_to 'Yes!', confirm_path(match.match_result), method: :patch, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
