<% if @lost_matches.present? %>
  <% @lost_matches.each do |match| %>
    <%# if match.match_result.confirmed == true && match.match_result.loser == current_user  %>
      <div class="match-card">
        <% if match.player_1 == current_user %>
          <%= cl_image_tag match.player_2.picture, class: "avatar"%>
          <div class="name-and-date">
            <span class="player-name"><%= match.player_2.first_name %> <%= match.player_2.last_name %> </span>
            <div class="date-location">
              <span class="date"><%= match.date.strftime("%d %b %Y") %></span>
              <span class="separator"> - </span>
              <span class="location"><%= match.club.name %></span>
            </div>
          </div>
          <span class="score">
            <%= match.match_result.score.reverse %>
          </span>
        <% else %>
          <%= cl_image_tag match.player_1.picture, class: "avatar"%>
          <div class="name-and-date">
            <span class="player-name">
              <%= match.player_1.first_name %> <%= match.player_1.last_name %>
            </span>
            <div class="date-location">
              <span class="date"><%= match.date.strftime("%d %b %Y") %></span>
              <span class="separator"> - </span>
              <span class="location"><%= match.club.name %></span>
            </div>
          </div>
          <span class="score">
            <%= match.match_result.score %>
          </span>
        <% end %>
        <span class="score">
          <%= match.match_result.score %>
        </span>
      </div>
    <%# end %>
  <% end %>
<% else %>
  <p class="text-center">You haven't lost any matches. WOW!</p>
<% end %>
