<% if @pending_matches.present? %>
  <% @pending_matches.each do |match| %>
    <%# if match.match_result.confirmed == false  %>
      <div class="pending-match-card">
        <% if match.player_1 == current_user %>
          <div class="match-card">
            <%= cl_image_tag match.player_2.picture, class: "avatar"%>
            <div class="name-and-date">
              <span class="player-name"><%= match.player_2.first_name %> <%= match.player_2.last_name %> </span>
              <div class="date-location">
                <span class="date"><%= match.date.strftime("%d %b %Y") %></span>
                <span class="separator"> - </span>
                <span class="location"><%= match.club.name %></span>
              </div>
            </div>
            <div class="score">
              <%= match.match_result.score %>
            </div>
          </div>
          <a href="https://wa.me/<%= match.player_2.phone_number %>?text=Hi%20<%= match.player_2.first_name %>! Can you please confirm the score of our match on https://www.backhandapp.com? Thank you!" class="link-pending-matches">
            Ask <%= match.player_2.first_name %> to confirm
          </a>
        <% else %>
          <div class="match-card">
            <%= cl_image_tag match.player_1.picture, class: "avatar"%>
            <div class="name-and-date">
              <span class="player-name">
                <%= match.player_1.first_name %> <%= match.player_1.last_name %>
              </span>
              <div class="date-location">
                <span class="date"><%= match.date.strftime("%d %b %Y") %></span>
                <span class="separator"> - </span>
                <span class="location"><%= match.club.name %></span>
              </div>
            </div>
            <div class="score">
              <span>
                <%= match.match_result.score %>
              </span>
            </div>
          </div>
          <%= link_to 'Confirm now!', confirm_path(match.match_result), method: :patch, class: "link-pending-matches" %>
          <%#= link_to 'Accept', approved_path(booking), method: :patch, class: "btn-accept" %>
        <% end %>
      </div>
    <%# end %>
  <% end %>
<% else %>
  <p class="text-center">You have matches pending confirmation</p>
<% end %>
