<div class="container">
  <% @matches.each do |match| %>
    <div class="index-match-card">
      <div class="avatar-name-player-1">
        <%= cl_image_tag match.player_1.picture, class: "avatar"%>
        <div class="first-last-name">
          <span class="first-name"><%= match.player_1.first_name %></span>
          <span class="last-name"><%= match.player_1.last_name.upcase %></span>
        </div>
      </div>
      <div class="final-score">
        <span class="score"><%= match.match_result.score %></span>
        <span class="date"><%= match.date.strftime("%d %b %Y") %></span>
        <span class="time"><%= match.club.name %></span>
      </div>
      <div class="avatar-name-player-2">
        <%= cl_image_tag match.player_2.picture, class: "avatar"%>
        <div class="first-last-name">
          <span class="first-name"><%= match.player_2.first_name %></span>
          <span class="last-name"><%= match.player_2.last_name.upcase %></span>
        </div>
      </div>
    </div>

  <% end %>
</div>
