<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <%= simple_form_for @match do |f| %>
        <%= f.input :date,
        input_html: {class: "datepicker-match"},
        as: :string,
        required: true,
        label: t('.when') %>
        <%= f.association :club, label: t('.where'), input_html: {class: "select-your-club form-control"} %>
        <%= f.input :player_2,
                    label: t('.whom'),
                    input_html: { class: "select-your-opponent form-control" },
                    collection: current_user.opponents.map{|z| [z.full_name, z.id, data:{picture: z.picture.url}]} %>
        <%= simple_fields_for :match_result do |r| %>
          <%= r.input :winner, label: t('.won'), input_html: {class: "select-the-winner form-control"}, collection: [current_user], label_method: :full_name %>
        <% end %>
        <div class="how-many-sets d-flex">
          <div class="display-range-bar w-100">
            <label for="sets-played">
              <%= t('.sets') %>
            </label>
            <div class="d-flex">
              <strong>
                <div class="display-sets-number"></div>
              </strong>
              <input type="range" id="sets-played" name="sets-played" min="1" max="5">
            </div>
          </div>
        </div>
        <hr class="score-separator-top">
        <div class="fill-the-score d-flex">
          <div class="players-columns">
            <div class="avatar-name-match-record">
              <img src="<%= image_path get_picture(current_user) %>" class="avatar">
              <div class="player_1_name">
                <%= current_user.full_name %>
              </div>
            </div>
            <div class="avatar-name-match-record">
              <img src="<%= image_path 'profile.png' %>" class="avatar">
              <div class="player_2_name" id="player_2_name">
                <%= t('.opponent') %>
              </div>
            </div>
          </div>
          <div class="score-boxes d-flex">
            <span class="new-match-sets">
              <%= t('.set') %>
            </span>
            <%= f.simple_fields_for :match_sets do |set_builder| %>
              <%= render 'match_set', f: set_builder %>
            <% end %>
          </div>
        </div>
        <hr class="score-separator-bottom">

        <%= f.submit t('.record'), class: "btn btn-primary cta-next" %>

      <% end %>
    </div>
  </div>
</div>
