<div class="main-container">
  <div class="row">
    <div class="form-login col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <%= simple_form_for @match do |f| %>
      <!-- <div class="d-flex justify-content-between"> -->
        <%= f.input :date,
        input_html: {class: "datepicker"},
        as: :string,
        label:"WHEN DID YOU PLAY?" %>
        <!-- <div>
          <label for="choose-club">WHERE DID YOU PLAY?</label>
          <select name="match[location][]" class="select2 form-control" id="choose-a-club">
            <%# Club.all.each do |club| %>
            <option value="<%#= club.id %>"><%#= club.name %></option>
            <%# end %>
          </select>
        </div> -->
        <%= f.association :club, label:"WHERE DID YOU PLAY?", input_html: {class: "select2 form-control"} %>
      <!-- </div> -->
      <%= f.association :player_2, label:"WHO DID YOU PLAY WITH?", input_html: {class: "select2 form-control"}, label_method: :full_name %>
      <%= simple_fields_for @match_result do |mr| %>
        <%= mr.input :winner, label: "WHO WON?" do %>
          <select id="select-winner" class="form-control">
            <option value="<%= current_user.id %>"><%= current_user.first_name %> <%= current_user.last_name %></option>
          </select>
        <% end %>
      <% end %>
      <!-- <label for="sets-played">HOW MANY SETS DID YOU PLAY?</label> -->
      <!-- <input id="sets-played" type="range" min="1" max="5"> -->
      <%#= f.input :score %>
      <%= f.submit 'Record Match', class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
