<div class="container">
  <h2>Record your Game</h2>
  <%= simple_form_for(@challenge, url: challenge_path(@challenge), method: :patch) do |f| %>
  <div class="d-flex justify-between row">
    <%= f.input :date, as: :string, input_html: { class: "datepicker" }, wrapper_html: { class: "col-6" } %>
    <%= f.input :location, wrapper_html: { class: "col-6" } %>
  </div>
  <div class="d-flex justify-between row">
    <%= f.input :winner, collection: @players, label_method: :full_name, value_method: :id, wrapper_html: { class: "col-6" } %>
    <%= f.input :score, placeholder: "e.g. 6:2 6:2 or 6/2 6/2", wrapper_html: { class: "col-6" } %>
    <%= f.input :loser, as: :hidden %>
  </div>
    <div class="cta-back">
      <%= f.button :submit, class: "btn btn-primary cta-button" %>
    </div>
  <% end %>
</div>
