<div class="challenge-pres">
  <h1><%= @challengee.first_name %> vs <%= @challenger.first_name %></h1>
</div>

<div class="challenge-info">
  <h3><%= @challenge.status %></h3>
  <h2>You have accepted <%= @challenger.first_name %>'s challenge.</h2>
  <h2>Get in touch now! <%= @challenger.phone_number %></h2>
</div>

<p><%= link_to "Cancel Challenge", decline_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Do your really want to decline the Challenge?"}%></p>
<p><%= link_to "Contact Player", accept_challenge_path(@challenge), :method => :patch, class: "btn btn-primary" %></p>
