<div class="container">
  <h2>Record your Game</h2>
  <%= simple_form_for(@challenge, url: challenge_path(@challenge), method: :patch) do |f| %>
    <%= f.input :date %>
    <%= f.input :location %>
    <%= f.input :winner, collection: @players, label_method: :full_name, value_method: :id %>
    <%= f.input :loser, as: :hidden %>
    <%= f.input :score, placeholder: "6:3    6:3" %>
    <%= f.submit :confirm %>
  <% end %>
</div>

