<div class="challenge-info text-dark">
  <h2>
    Challenge accepted! Contact <%= link_to @challengee.first_name, user_path(@challengee) %> now!
  </h2>
  <%= link_to "Cancel Challenge", cancel_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Do your really want to cancel the Challenge?"} , class: "btn w-100 text-center" %>

 <div>
     <a href="https://wa.me/<%= @challengee.phone_number %>?text=Hello%20<%= @challengee.first_name %>%20I'm%20<%= @challenger.first_name %>%20from%20Backhand!%20Fancy%20playing%20some%20tennis?" class="btn btn-primary cta-button" role="button">
       Send a Whatsapp Message!
     </a>
 </div>

<div class="cta-back">
  <%= link_to "Record the Game", played_challenge_path(@challenge), :method => :patch, :data => {:confirm => "Do your really want to mark the challenge as played?"}, class: "btn btn-primary cta-button" %>
</div>



