<div class="container">
  <h2>Record your Game</h2>
  <%= simple_form_for(@challenge, url: challenge_path(@challenge), method: :patch) do |f| %>
    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :location %>
    <%= f.input :winner, collection: @players, label_method: :full_name, value_method: :id %>
    <%= f.input :score, placeholder: "e.g. 6:2 6:2 or 6/2 6/2" %>
    <%= f.input :loser, as: :hidden %>
    <%= f.submit :confirm %>
  <% end %>
</div>

