<% @challenges.each do |challenge| %>
<div class="challenge-card">
  <!-- I, Max, am the challenger -->
  <div class="challenge-card-info">
    <% if challenge.challenger_id == current_user.id %>
      <i class="fas fa-arrow-up"></i>
      <%= image_tag "nadal.jpg", class: "avatar"%>
      <% challengee = User.find(challenge.challengee_id) %>
      <span><%= challengee.first_name %> <%= challengee.last_name %> </span>

    <!-- I, Max, am the challengee -->
    <% else %>
      <i class="fas fa-arrow-down"></i>
      <%= image_tag "nadal.jpg", class: "avatar"%>
      <% challenger = User.find(challenge.challenger_id) %>
      <span><%= challenger.first_name %> <%= challenger.last_name %> </span>
    <% end %>
  </div>

  <span> <%= link_to "#{challenge.status}", challenge_path(challenge), :method => :get  %></span>
  <br>
</div>
<% end %>


