<ul class="list-inline tabs-underlined" id="fix-top">
  <li>
    <a href="#" data-target="outstanding" class="tab-underlined active">Sent/Received</a>
  </li>
  <li>
    <a href="#" data-target="played" class="tab-underlined">Played</a>
  </li>
</ul>

<div class="box-size" id="outstanding">
  <% @unplayed_challenges.each do |challenge| %>
    <%= link_to challenge_path(challenge), class: "link-challenge" do %>
      <div class="challenge-card">
        <% if challenge.challenger_id == current_user.id %>
          <i class="fas fa-arrow-up"></i>
          <% challengee = User.find(challenge.challengee_id) %>
          <%= cl_image_tag challengee.picture, class: "avatar" %>
          <div class="name-and-date">
            <span class="player-name"><%= challengee.first_name %> <%= challengee.last_name %></span>
            <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
          </div>
        <% else %>
          <i class="fas fa-arrow-down"></i>
          <% challenger = User.find(challenge.challenger_id) %>
          <%= cl_image_tag challenger.picture, class: "avatar" %>
          <div class="name-and-date">
            <span class="player-name"><%= challenger.first_name %> <%= challenger.last_name %> </span>
            <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
          </div>
        <% end %>

        <span class="status-arrow"><%= challenge.status %>
          <% if challenge.status == "accepted" %>
            <i class="fas fa-angle-right"></i>
          <% elsif challenge.status == "pending" %>
            <i class="fas fa-angle-right"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>

<div class="hidden box-size" id="played">
  <% @played_challenges.each do |challenge| %>
    <%= link_to challenge_path(challenge), class: "link-challenge" do %>
      <% if challenge.status == "played" %>
        <div class="challenge-card">
          <% if challenge.challenger_id == current_user.id %>
            <i class="fas fa-arrow-up"></i>
            <% challengee = User.find(challenge.challengee_id) %>
            <%= cl_image_tag challengee.picture, class: "avatar"%>
            <div class="name-and-date">
              <span class="player-name"><%= challengee.first_name %> <%= challengee.last_name %> </span>
              <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
            </div>
          <% else %>
            <i class="fas fa-arrow-down"></i>
            <% challenger = User.find(challenge.challenger_id) %>
            <%= cl_image_tag challenger.picture, class: "avatar"%>
            <div class="name-and-date">
              <span class="player-name">
                <%= challenger.first_name %> <%= challenger.last_name %>
              </span>
              <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
            </div>
          <% end %>

          <span class="status-arrow">
            <%= challenge.score %>
            <i class="fas fa-angle-right"></i>
          </span>
        </div>
      <% else %>
        <h2>You have not recorded any matches.</h2>
      <% end %>
    <% end %>
  <% end %>
</div>




