    <ul class="list-inline tabs-underlined" id="fix-top">
      <li>
        <a href="#" data-target="outstanding" class="tab-underlined active">Sent/Received</a>
      </li>
      <li>
        <a href="#" data-target="played" class="tab-underlined">Played</a>
      </li>
    </ul>

<% @challenges.each do |challenge| %>
  <div class="" id="outstanding">
    <%= link_to challenge_path(challenge) do %>
    <div class="challenge-card">
      <% if challenge.challenger_id == current_user.id %>
        <i class="fas fa-arrow-up"></i>
        <% challengee = User.find(challenge.challengee_id) %>
        <%= cl_image_tag challengee.picture, class: "avatar" %>
        <div class="name-and-date">
          <span class="player-name"><%= challengee.first_name %> <%= challengee.last_name %></span>
          <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
        </div>
      <% else %>
        <i class="fas fa-arrow-down"></i>
        <% challenger = User.find(challenge.challenger_id) %>
        <%= cl_image_tag challenger.picture, class: "avatar" %>
        <div class="name-and-date">
          <span class="player-name"><%= challenger.first_name %> <%= challenger.last_name %> </span>
          <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
        </div>
      <% end %>

      <% if challenge.status == "Accepted" %>
        <span><%= challenge.status %></span>
        <i class="fas fa-angle-right"></i>
      <% elsif challenge.status == "Pending" %>
        <span><%= challenge.status %></span>
        <i class="fas fa-angle-right"></i>
      <% else %>
        <span><%= challenge.status %></span>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="hidden" id="played">
    <% if challenge.status == "Played" %>
      <div class="challenge-card">
        <% if challenge.challenger_id == current_user.id %>
          <% challengee = User.find(challenge.challengee_id) %>
          <%= cl_image_tag challengee.picture, class: "avatar"%>
          <div class="name-and-date">
            <span class="player-name"><%= challengee.first_name %> <%= challengee.last_name %> </span>
            <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
            <span> <%= challenge.score %></span>
            <i class="fas fa-angle-right"></i>
          </div>
        <% else %>
          <% challenger = User.find(challenge.challenger_id) %>
          <%= cl_image_tag challenger.picture, class: "avatar"%>
          <div class="name-and-date">
            <span class="player-name"><%= challenger.first_name %> <%= challenger.last_name %></span>
            <span class="date"><%= challenge.created_at.to_date.strftime("%d %b %Y") %> </span>
            <span><%= challenge.score %></span>
            <i class="fas fa-angle-right"></i>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>You have not recorded any matches.</h2>
    <% end %>
  </div>
<% end %>




