<div class="container">
  <%= link_to "Back to all your challenges", challenges_path, :method => :get %>

  <div class="section group">
    <h1 id="vs">VS</h1>

    <div class="col span_1_of_2 current-user-vs user-name">
      <div class="overflow-wrap current-user-name">
        <h1><%= current_user.first_name  %></h1>
      </div>
      <div class="ranking-b-left">
        <span>WR</span>
        <div class="rank-b-left">
          #<%= current_user.ranking %>
        </div>
      </div>
    </div>

    <div class="col span_1_of_2 other-user-opponent-vs">
      <div class="overflow-wrap opponent-name">
        <h1><%= @challengee.first_name %></h1>
      </div>
      <div class="ranking-b">
        <span>WR</span>
        <div class="rank-b">
          #<%= @challengee.ranking %>
        </div>
      </div>
    </div>
  </div>

  <div class="bluevs">
    <div class="bluevs-left ">
      <h4> <%= current_user.level.downcase %></h4>
      <% if current_user.style_of_play.nil? == false  %>
        <h4><%= current_user.style_of_play.downcase%></h4>
      <% end %>
    </div>

    <div class="score">
      <h2>0:0</h2>
    </div>

    <div class="bluevs-right">
      <h4> <%= @challengee.level.downcase %></h4>
      <% if current_user.style_of_play.nil? == false  %>
        <h4><%= @challengee.style_of_play.downcase %></h4>
      <% end %>
    </div>
  </div>
</div>

    <div class="message">
      <% if @challenge.challenger == current_user %>
        <% if @challenge.status == "Pending" %>
          <%= render partial: "challenger-pending" %>
        <% elsif @challenge.status == "Accepted" %>
          <%= render partial: "challenger-accepted" %>
        <% else %>
          <%= render partial: "challenger-played" %>
        <% end %>
      <% else %>
        <% if @challenge.status == "Pending"  %>
          <%= render partial: "challengee-pending" %>
        <% elsif @challenge.status == "Accepted" %>
          <%= render partial: "challengee-accepted" %>
        <% else %>
          <%= render partial: "challengee-played" %>
        <% end %>
      <% end %>
    </div>

