<%# raise %>
<div class="container">
  <div class="back-section">
    <%= link_to "Back to your challenges", challenges_path, :method => :get, class: "back-link" %>
  </div>

  <div class="section group">
    <%= image_tag "vs.png", id:"vs"%>

    <%= link_to(user_path(current_user)) do %>
      <div class="col span current-user-vs user-name text-center" style="background-image: url('<%= cl_image_path current_user.picture %>') ">
        <div class="ranking-b-left">
          <span>WR</span>
          <div class="rank-b-left">
            #<%= current_user.ranking %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to(user_path(@challenge.other_user(current_user))) do %>
      <div class="col span other-user-opponent-vs" style="background-image: url('<%= cl_image_path @challenge.other_user(current_user).picture %>') ">
        <div class="ranking-b">
          <span>WR</span>
          <div class="rank-b">
            #<%= @challenge.other_user(current_user).ranking %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="bluevs">
    <div class="bluevs-top">
      <h4 class="blue-vs-element">
        <%= current_user.level.downcase %>
      </h4>
      <h4 class="blue-vs-element">
        <%= @challengee.level.downcase %>
      </h4>
    </div>
    <div class="bluevs-bottom">
      <% if current_user.style_of_play.nil? == false  %>
        <h4 class="blue-vs-element">
          <%= current_user.style_of_play.downcase%>
        </h4>
      <% end %>
      <% if current_user.style_of_play.nil? == false  %>
        <h4 class="blue-vs-element">
          <%= @challengee.style_of_play.downcase %>
        </h4>
      <% end %>
    </div>
  </div>

  <div class="message">
    <% if @challenge.challenger == current_user %>
      <% if @challenge.status == "pending" %>
        <%= render partial: "challenger-pending" %>
      <% elsif @challenge.status == "accepted" %>
        <%= render partial: "challenger-accepted" %>
      <% else %>
        <%= render partial: "played" %>
      <% end %>
    <% else %>
      <% if @challenge.status == "pending"  %>
        <%= render partial: "challengee-pending" %>
      <% elsif @challenge.status == "accepted" %>
        <%= render partial: "challengee-accepted" %>
      <% else %>
        <%= render partial: "played" %>
      <% end %>
    <% end %>
  </div>
</div>
