<div class="container">
  <%= link_to "Back to all your challenges", challenges_path, :method => :get %>

  <div class="section group">
    <h1 id="vs">VS</h1>

    <%= link_to(user_path(current_user)) do %>
      <div class="col span_1_of_2 current-user-vs user-name text-center" style="background-image: url('<%= cl_image_path current_user.picture %>') ">
        <div class="overflow-wrap current-user-name justify-content-center">

        </div>
        <div class="ranking-b-left">
          <span>WR</span>
          <div class="rank-b-left">
            #<%= current_user.ranking %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to(user_path(@challengee)) do %>
      <div class="col span_1_of_2 other-user-opponent-vs" style="background-image: url('<%= cl_image_path @challengee.picture %>') ">
        <div class="overflow-wrap opponent-name justify-content-center">

        </div>
        <div class="ranking-b">
          <span>WR</span>
          <div class="rank-b">
            #<%= @challengee.ranking %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="bluevs">
    <div class="bluevs-left">
      <h4 class="blue-vs-element">
        <%= current_user.level.downcase %>
      </h4>
      <% if current_user.style_of_play.nil? == false  %>
        <h4 class="blue-vs-element">
          <%= current_user.style_of_play.downcase%>
        </h4>
      <% end %>
    </div>

    <div class="score">
   <!--    if the user has played with against the challenger before, it should
      display the number of wins/losses
      otherwise, it should be 0:0 -->

      <h1>0:0</h1>
    </div>

    <div class="bluevs-right">
      <h4 class="blue-vs-element">
        <%= @challengee.level.downcase %>
      </h4>
      <% if current_user.style_of_play.nil? == false  %>
        <h4 class="blue-vs-element">
          <%= @challengee.style_of_play.downcase %>
        </h4>
      <% end %>
    </div>
  </div>

  <div class="message">
    <% if @challenge.challenger == current_user %>
      <% if @challenge.status == "pending" %>
        <%= render partial: "challenger-pending" %>
      <% elsif @challenge.status == "accepted" %>
        <%= render partial: "challenger-accepted" %>
      <% else %>
        <%= render partial: "challenger-played" %>
      <% end %>
    <% else %>
      <% if @challenge.status == "pending"  %>
        <%= render partial: "challengee-pending" %>
      <% elsif @challenge.status == "accepted" %>
        <%= render partial: "challengee-accepted" %>
      <% else %>
        <%= render partial: "challengee-played" %>
      <% end %>
    <% end %>
  </div>
</div>
