<div class="callouts-container">
  <% if @callouts.count == 0 %>
    <p class="no-callouts">
      <%= t('.no_callouts_html') %>
    </p>
  <% else %>
    <% @callouts.each do |callout| %>
      <% present callout.user do |user_presenter| %>
        <div class="callout-card">
          <div class="callout-info">
            <%= link_to user_path(callout.user) do %>
              <div class="callout-user">
                  <%= cl_image_tag callout.user.picture, width: 40, height: 40, gravity: "face", crop: "thumb", quality: "auto", class: "avatar-bordered"%>
                <div class="name-info">
                  <div class="name">
                      <%= callout.user.first_name %>
                  </div>
                  <div class="more-info">
                    <span class="level-style">
                      <%= user_presenter.style(callout.user.style_of_play) %>
                    </span>
                    <span class="level-style">
                      <%= user_presenter.level(callout.user.level) %>
                    </span>
                  </div>
                  <div class="club">
                    <%= user_presenter.plays_at %>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="created-ago">
              <% present callout do |callout| %>
                <%= callout.created_at %>
              <% end %>
            </div>
            <p>
              <%= callout.message %>
            </p>
          </div>
          <% if user_signed_in? %>
            <% if callout.user != current_user %>
              <% if callout.status == "found" %>
                <div class="callout-grey">
                  <%= t('.sorry_found', name: callout.user.first_name) %>
                </div>
              <% else %>
                <div class="callout-link-blue">
                  <a href="https://wa.me/<%= callout.user.phone_number %>?text=Hello%20<%= callout.user.first_name %>%20I'm%20<%= current_user.first_name %>%20from%20https://www.backhandapp.com!%">
                    <%= t('.contact') %> <%= callout.user.first_name %>
                  </a>
                </div>
              <% end %>
            <% end %>
            <% if callout.user == current_user %>
              <div class="callout-link-yellow">
                <%= link_to t('.already_found'), status_path(callout), method: :patch %>
              </div>
              <div class="callout-link-red">
                <%= link_to t('.remove'), callout_path(callout),
                    method: :delete,
                    data: { confirm: t('.are_you_sure') } %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="actions-wrapper">
    <%= link_to new_callout_path do %>
      <button class="mdc-fab app-fab--absolute" aria-label="open">
        <span class="mdc-fab__icon material-icons">
          add
        </span>
      </button>
    <% end %>
  </div>
</div>
